.slide.centered h2 {
  color: #FFF;
  text-align: center;
  font-size: 70px;
  margin-top: 18%; }
.slide.centered h3 {
  text-align: center; }
  .slide.centered h3 a {
    border-bottom: none; }

#cover-corrected em {
  color: red; }

header.caption a {
  color: #3C3D40;
  font-weight: bolder; }

.slide section:before {
  background: none; }

.slide:after {
  content: none; }

.slide.shout header {
  color: #FFF; }

#smarty h2 {
  background-image: url(../images/smarty.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  text-indent: -9999px; }
