#Cover h2 {
  color:#FFF;
  text-align:center;
  font-size:70px;
  margin-top: 18%;
}

#Cover h3 {
  text-align: center;
  font-size: 40px;
}

header.caption a {
  color: #3C3D40;
  font-weight: bolder;
}


